@font-face {
    font-family: 'samim';
    src: url('/fonts/Samim.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'samim';
    src: url('/fonts/Samim-FD-WOL.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'samim';
}